In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('data.csv.csv')

In [9]:
df.head()

        FEVER  BODYPAIN  AGE  RUNNYNOSE  DIFFBREATH  INFECTION PROBABILITY
0  101.910890         1   41          1          -1                      1
1   99.463405         0   72          0           0                      0
2  101.713208         0   20          1           0                      0
3   99.891657         1   27          0           0                      1
4  101.491447         0   18          0          -1                      1

In [10]:
df.tail()

           FEVER  BODYPAIN  AGE  RUNNYNOSE  DIFFBREATH  INFECTION PROBABILITY
3119  101.972543         1   95          1           0                      1
3120   98.518920         1   57          0          -1                      0
3121  101.431933         1   40          0           1                      1
3122  101.240432         1    4          1           1                      1
3123  101.939903         1    3          0           0                      1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3124 entries, 0 to 3123
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   FEVER                  3124 non-null   float64
 1   BODYPAIN               3124 non-null   int64
 2   AGE                    3124 non-null   int64
 3   RUNNYNOSE              3124 non-null   int64
 4   DIFFBREATH             3124 non-null   int64
 5   INFECTION PROBABILITY  3124 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 146.5 KB

In [6]:
df['DIFFBREATH'].value_counts()

 0    1070
-1    1036
 1    1018
Name: DIFFBREATH, dtype: int64

In [7]:
df.describe()

,FEVER,BODYPAIN,AGE,RUNNYNOSE,DIFFBREATH,INFECTION PROBABILITY
count,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000,3124.00000
mean,100.001022,0.504161,51.492318,0.501601,-0.005762,0.49968
std,1.153698,0.500063,28.723236,0.500077,0.810967,0.50008
min,98.000539,0.000000,1.000000,0.000000,-1.000000,0.00000
25%,98.991107,0.000000,27.000000,0.000000,-1.000000,0.00000
50%,100.005519,1.000000,52.000000,1.000000,0.000000,0.00000
75%,101.026208,1.000000,77.000000,1.000000,1.000000,1.00000
max,101.996508,1.000000,100.000000,1.000000,1.000000,1.00000

Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [10]:
 np.random.permutation(7)

array([2, 0, 1, 5, 6, 4, 3])

In [11]:
train, test = data_split(df, 0.2)

In [12]:
train

           FEVER  BODYPAIN  AGE  RUNNYNOSE  DIFFBREATH  INFECTION PROBABILITY
1444   98.632070         0   43          1          -1                      1
1746  101.090927         0   58          0           1                      0
1967  101.035596         1   20          1           1                      0
2757  101.301490         0   95          1           0                      1
3120   98.518920         1   57          0          -1                      0
...          ...       ...  ...        ...         ...                    ...
3092   98.537694         1   99          1          -1                      1
1095  100.147429         0   69          1          -1                      1
1130  100.322253         1   56          1           0                      0
1294  100.475608         0   39          0          -1                      1
860   101.133371         0   12          1           0                      1

[2500 rows x 6 columns]

In [13]:
test

           FEVER  BODYPAIN  AGE  RUNNYNOSE  DIFFBREATH  INFECTION PROBABILITY
3012   99.286093         0   21          0          -1                      0
2980   98.528751         1   89          1          -1                      1
2670  100.797475         1   64          0          -1                      1
214   100.171610         1   80          1           1                      0
2951  101.063742         0   77          0           0                      0
...          ...       ...  ...        ...         ...                    ...
221    99.437948         1   53          1           0                      0
543    99.314091         1   47          1           1                      1
1321  101.096873         0    1          1           1                      1
3028   98.540483         1    5          0          -1                      1
930    99.036405         1   79          1          -1                      1

[624 rows x 6 columns]

In [14]:
X_train = train[['FEVER','BODYPAIN','AGE','RUNNYNOSE','DIFFBREATH']].to_numpy()
X_test = test[['FEVER','BODYPAIN','AGE','RUNNYNOSE','DIFFBREATH']].to_numpy()

In [15]:
Y_train = train[['INFECTION PROBABILITY']].to_numpy().reshape(2500,)
Y_test = test[['INFECTION PROBABILITY']].to_numpy().reshape(624,)

In [16]:
Y_train

array([1, 0, 0, ..., 0, 1, 1], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [21]:
inputFeatures = [102, 1, 22, -1, 1]
infProb = clf.predict_proba([[100, 1, 22, -1, 1]])[0][1]

In [22]:
infProb

0.5354005650990329